{% extends 'base.html.twig' %}

{% block title %}Nos projets
{% endblock %}

{% block body %}

	<div class="row text-center">
		{% for projets in projets %}
			{% include "partials/projets/_projets_block.html.twig" %}

		{% endfor %}

	</div>


{% endblock %}
