{% extends 'base.html.twig' %}

{% block body %}
	<h1>Réinitialisation de mot de passe</h1>

	<form method="post">
		<label for="email">Adresse e-mail :</label>
		<input type="email" id="email" name="_email" required/>
		<button type="submit">Envoyer le lien de réinitialisation</button>
	</form>
{% endblock %}
