<div class="container-fluid">
	<footer class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">

		<div class="col-md-4 d-flex align-items-center justify-content-center">
			<span class="mb-3 mb-md-0 text-body-secondary">© 2025 Green & Clean</span>
		</div>
		<div class="nav col-md-4 justify-content-end list-unstyled d-flex justify-content-center">
			<img src="{{ asset('build/images/paypal.png') }}" alt="Logo Paypal" height="60">
		</div>
	</footer>
</div>
