{% extends 'base.html.twig' %}

{% block title %}Dashboard Administrateur
{% endblock %}

{% block body %}
	<h1>Bienvenue sur le Dashboard Administrateur</h1>
	
	
		<a href="{{ path('admin_donations') }}">Gestion des Dons</a>
		<a href="{{ path('admin_users') }}">Gestion des Utilisateurs</a>
		<a href="{{ path('admin_projects') }}">Gestion des Projets</a>
	
	
{% endblock %}
