$primary: #76C745;
$secondary: #7E5506;

@use "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

.container-fluid {
    width: 100%;
}

header {
    background-color: #f8f9fa; // Couleur de fond pour le header
    color: #333; // Couleur pour le texte du header
}

footer {
    background-color: #f8f9fa; // Couleur de fond pour le footer
    color: #333; // Couleur pour le texte du footer
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer .text-body-secondary {
    color: #6c757d; // Couleur pour le texte du footer
}

.row {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.row p {
    font-size: 16px;
    color: #333;
}

.row a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .row {
        padding: 10px;
    }

    .row p {
        font-size: 14px;
    }
}

.card-img-top {
    border-radius: 15px;
}

.card-body {
    background-color: #f8f9fa;
    border-radius: 15px;
}

.card-title {
    font-size: 20px;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #333;
}

.card-footer {
    background-color: #f8f9fa;
    border-radius: 15px;
}

h1 {
    text-align: center; // Centre le texte du h1
    margin-bottom: 20px; // Ajoute un espace en dessous du h1
    font-size: 40px; // Taille du h1
}
h2 {
    text-align: center; // Centre le texte du h2
    margin-bottom: 20px; // Ajoute un espace en dessous du h2
    font-size: 35px; // Taille du h2
}

h3 {
    text-align: center; // Centre le texte du h3
    margin-bottom: 20px; // Ajoute un espace en dessous du h3
    font-size: 20px; // Taille du h3
}

.btn {
    display: block; // Permet de centrer le bouton
    margin: 0 auto; // Centre le bouton horizontalement
    width: 200px; // Largeur du bouton
    margin-top: 20px; // Ajoute un espace en dessous du bouton
    border-radius: 15px; // Arrondi les coins du bouton
    font-size: 16px; // Taille de la police du bouton
    font-weight: bold; // Gras pour le texte du bouton
    text-transform: uppercase; // Met le texte en majuscule
    padding: 10px; // Ajoute de l'espace autour du texte du bouton
    text-align: center; // Centre le texte du bouton
    color: #fff; // Couleur du texte du bouton
    text-decoration: none; // Enlève le soulignement du texte du bouton
    cursor: pointer; // Change le curseur au survol du bouton
    transition: background-color 0.3s; // Ajoute une transition sur la couleur de fond du bouton
    border: none; // Enlève la bordure du bouton
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
}

.btn-primary:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
}

.btn-secondary:hover {
    background-color: darken($secondary, 10%);
    border-color: darken($secondary, 10%);
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 199, 69, 0.5);
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(126, 85, 6, 0.5);
}

.btn-primary:active {
    background-color: darken($primary, 20%);
    border-color: darken($primary, 20%);
}

.btn-secondary:active {
    background-color: darken($secondary, 20%);
    border-color: darken($secondary, 20%);
}