$primary: #76C745;
$secondary: #7E5506;

@use "~bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

.container-fluid {
    width: 100%;
}

header {
    background-color: #f8f9fa;
    color: #333;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer .text-body-secondary {
    color: #6c757d;
}

.row {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.row p {
    font-size: 16px;
    color: #333;
}

.row a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .row {
        padding: 10px;
    }

    .row p {
        font-size: 14px;
    }
}

.card-img-top {
    border-radius: 15px;
}

.card-body {
    background-color: #f8f9fa;
    border-radius: 15px;
}

.card-title {
    font-size: 20px;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #333;
}

.card-footer {
    background-color: #f8f9fa;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
}

.btn-primary:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
}

.btn-secondary:hover {
    background-color: darken($secondary, 10%);
    border-color: darken($secondary, 10%);
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 199, 69, 0.5);
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(126, 85, 6, 0.5);
}

.btn-primary:active {
    background-color: darken($primary, 20%);
    border-color: darken($primary, 20%);
}

.btn-secondary:active {
    background-color: darken($secondary, 20%);
    border-color: darken($secondary, 20%);
}