{% extends 'base.html.twig' %}

{% block title %}User Projects
{% endblock %}

{% block body %}
	<h1>Your Projects</h1>
	<p>Manage your projects here. You can create, edit, or delete projects.</p>
	<!-- Add project management UI here -->
{% endblock %}
