{% extends 'base.html.twig' %}

{% block title %}User Settings
{% endblock %}

{% block body %}
	<h1>Settings</h1>
	<p>Update your account settings here.</p>
	<!-- Add settings form or options here -->
{% endblock %}
